@use '../../scss/shared/variables'as *;

.textBox {
    background-color: $red;
    color: $white;
    text-align: left;
    margin: 1rem;
    padding: 10px;
    border-radius: 10px;
    // position: relative;
}

.dropBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $red;
    color: $white;
    // text-align: left;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.titleBox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: $white;
    text-align: left;
    margin: 1rem;
    padding: 10px;
    border-radius: 10px;
}

.dropBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 10px;
    background-color: initial;
    cursor: pointer;

}

.arrow {
    transform: rotateX(0);
    padding: 0 10px;
    transition: 0.3s;
    width: 50%;
    height: 50%;
}

// rotation ne fonctionne pas
.arrow .reverse {
    transform: rotateX(180deg);
}

// a deplacer dans shared variables, mixins?
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}