.mainLodge {
    display: flex;
    flex-direction: column;
}

.mainInformation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 40px;
}

.LodgesDropDowns ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
   width: 100%;
   padding: 25px 0px;
}

.LodgesDropDowns .titleBox {
    width: 45%;
    min-width: 180px;
    margin-top: 0px;
}