@use '../../../styles/variables.scss'as *;


.mainError {
    color: $red;
    font-family: $font;
}

.mainError p {
    margin-top: 1rem;
}

.mainError a {
    display: inline-block;
    margin-top: 10rem;
    color: $red;
    cursor: pointer;
}