@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.mainError {
    @include text-style($color: $white);
}

.mainError p {
    margin-top: 1rem;
}

.mainError a {
    display: inline-block;
    margin-top: 10rem;
    color: $red;
    cursor: pointer;
}