@use '../../styles/variables.scss'as *;

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu li {
    padding: 10px;

    &.underline {
        text-decoration-line: underline;
    }
}

.menu a {
    font-family: $font;
    color: $red;
    text-decoration: none;
}

@media (max-width:768px) {
    .menu a {
        text-transform: uppercase;
    }
}