@use '../../styles/variables.scss'as *;
@use '../../styles/mixins.scss'as*;


.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu li {
    padding: 10px;

    &.underline {
        text-decoration-line: underline;
    }
}

.menu a {
    @include text-style;
    text-decoration: none;
}

@media (max-width:768px) {
    .menu a {
        text-transform: uppercase;
        font-size: 12px;
    }
}