@use '../../styles/variables.scss'as *;

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu li {
    padding: 10px;
}

.menu a {
    font-family: $font;
    color: $red;
    text-decoration: none;

    // visited?
    &:active {
        text-decoration: underline;

    }
}

@media (max-width:768px) {
    .menu a {
        text-transform: uppercase;
    }
}