@use '../../styles/variables.scss'as *;

.lodgeTitle {
    position: absolute;
    top: 80%;
    padding: 20px;
    color: $white;

}

.lodgeImgBg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    width: auto;
    height: 340px;

    & img {
        object-fit: cover;
        width: auto;
        height: 272px;
        border-radius: 10px 10px 0px 0px;
    }

}