@use '../../styles/variables.scss'as *;
@use '../../styles/mixins.scss'as *;

.tagsList {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;


    & li {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: $red;
        border-radius: 10px;
        width: 140px;
        height: 25px;
        margin-right: 10px;
        @include text-style($color: $white);
        font-size: 14px;
        padding: 2px;

    }
}

@media (max-width:768px) {
    .tagsList li {      
           margin-top: 10px;    
    }
}