@use '../../styles/variables.scss'as *;

.tagsList {
    display: flex;


    & li {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: $red;
        border-radius: 10px;
        width: 140px;
        height: 25px;
        margin-right: 10px;
        color: $white;
        font-size: 14px;
        font-family: $font;

    }
}