.hostInfos {
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.hostProfile {
    display: flex;

    & p {
        text-align: center;
        //need to find a solution for br
    }
}


.avatar {
    border-radius: 50%;
    width: 64px;
}

.rating {
    text-align: end;
    padding-top: 1rem;
    color: lightgrey;
}