.hostInfos {
    display: flex;
    flex-direction: column;
}

.hostProfile {
    display: flex;
    align-items: center;

    & p {
        text-align: right;
        margin: 5px;
    }
}


.avatar {
    border-radius: 50%;
    width: 64px;
}

.rating {
    text-align: end;
    padding-top: 1rem;
    color: lightgrey;
}

@media (max-width:768px) {
    .hostInfos {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }
}