@use '../../styles/variables.scss'as *;
@use '../../styles/mixins.scss'as *;

#Lodge {
    min-height: 100vh;
    max-width: 1229px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    @include text-style;
}

@media (max-width:768px) {
    #Lodge {
        min-height: 130vh;

    }
}

//repetition entre pages voir mixins sass