@use '../../styles/variables.scss'as *;

.kasa-LodgeList {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    padding: 3rem 1rem;
    justify-content: space-around;
    background-color: $grey;
    border-radius: 25px;

}
