@use '../../styles/variables.scss'as *;

.kasa-LodgeList {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-color: $grey;
    padding: 5rem 1rem;
    border-radius: 25px;

}
