@use '../../scss/shared/variables'as *;


.mainError {
    color: $red;
    font: $font;
}

.mainError p {
    margin-top: 1rem;
}

.mainError a {
    display: inline-block;
    margin-top: 10rem;
    color: $red;
}