@use '../../../styles/variables.scss'as *;


.equipmentsList {
    background-color: $grey;
    border-radius: 0px 0px 5px 5px;
    padding: 25px 15px;
    margin-top: -7px;
    color: $red;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    & li {
        padding: 3px;
        margin-left: 10px;
    }
}