@use '../../styles/variables.scss'as *;

.header {
    color: $red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em 1em;

    & svg {
        fill: $red;

    }
}