@use '../../scss/shared/variables'as *;

#About {
    min-height: 100vh;
    max-width: 1229px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    font-family: $font;
}

@media (max-width:768px) {
    #About {
        min-height: 130vh;

    }
}