@use '../../scss/shared/variables'as *;

#home {
    min-height: 100vh;
    max-width: 1229px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    font-family: $font;
}

@media (max-width:768px) {
    #home {
        min-height: 130vh;

    }
}

//repetition entre pages voir mixins sass