.bannerBg img {
    height: 223px;
    // background-image: url("../../assets/desktopBanner.png");
    // background-repeat: no-repeat;
    // background-size: 100%;
    // margin: auto;
    border-radius: 10px;
    object-fit: cover;
}

.bannerBg {
    margin: 1em auto;
    border-radius: 10px;
}

@media (max-width:768px) {
    .bannerBg img {
        background-image: url("../../assets/mobileBanner.png");
        background-size: 100%;
    }
}